spawn-at-startup "noctalia"
spawn-sh-at-startup "easyeffects --gapplication-service"

prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

debug {
  honor-xdg-activation-with-invalid-serial
}

environment {
  QT_QPA_PLATFORMTHEME "qt6ct"
}
